@media only screen and (min-width:1728px) {
    .collaborate-section {
        padding-right: 80px;
    }

    .home-career-section {
        padding-left: 80px;
    }

    .about-stats .stats-card .count-info p {
        font-size: 20px;
    }
}

@media only screen and (max-width:1727px) {
    .header .logo img {
        max-height: 48px;
    }

    .finecurepharma-menu .menu-item a {
        font-size: 16px;
    }

    .finecurepharma-menu {
        gap: 10px;
    }

    .header-right-search .fc-es-search-input form {
        width: 280px;
    }

    .page-overlay {
        padding-top: 104px;
    }

    .infrastructure-count {
        padding: 30px;
        gap: 30px;
        margin-top: -65px;
    }

    .infrastructure-count li {
        gap: 20px;
    }

    .infrastructure-count .count-info .count-number {
        font-size: 36px;
        line-height: normal;
    }

    .infrastructure-count .count-info h4 {
        font-size: 20px;
    }

    .section-title {
        font-size: 36px;
    }

    .vision-mission ul li h3 {
        font-size: 24px;
        margin: 20px 0 8px 0;
    }

    .text-18px {
        font-size: 16px;
    }

    .sub-text {
        font-size: 20px;
    }

    .our-company-section .our-company-image {
        width: 40%;
    }

    .footer-top .footer-top-left {
        max-width: 330px;
    }

    .footer-touch-btns {
        min-width: 280px;
    }

    .footer-links .footer-links-list li {
        min-width: 180px;
    }

    .footer-top {
        gap: 20px;
    }

    .certifications-list .cert-item {
        padding: 16px;
    }

    .common-slide .swiper-slide .swiper-info {
        padding: 12px 0px;
    }

    .common-slide .swiper-slide .swiper-title,
    .common-slide.home-healthcare-brands-slider .swiper-slide .swiper-title {
        font-size: 20px;
    }

    .common-slide .swiper-slide p,
    .common-slide.home-healthcare-brands-slider .swiper-slide p {
        font-size: 16px;
    }

    .achievements-list .achievements-item p {
        font-size: 20px;
    }
}

@media only screen and (max-width:1440px) {
    .our-core-businesses-info h4 {
        font-size: 20px;
    }

    .our-core-businesses-info p {
        font-size: 16px;
        line-height: normal;
    }

    .common-slide .swiper-slide .swiper-title {
        height: 50px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .certifications-list {
        gap: 10px;
    }

    .certifications-list .cert-item {
        padding: 12px;
    }

    .footer-links .footer-links-list li {
        min-width: inherit;
    }

    .footer-links .footer-links-list li a,
    .footer-bottom ul li a,
    .footer-bottom p {
        font-size: 16px;
    }

    .footer-links .footer-title {
        font-size: 20px;
    }

    .default-btn-white {
        font-size: 18px;
        padding: 13px 24px 11px 24px;
    }

    .footer-touch-btns {
        min-width: 235px;
    }

    .custom-gap64,
    .what-we-do-section {
        gap: 60px;
    }

    .cpy-64px,
    .our-facilities-section,
    .collaborate-section,
    .home-career-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .ceo-message {
        padding: 60px 40px;
    }

    .header .logo img {
        max-height: 36px;
    }

    .page-overlay {
        padding-top: 100px;
    }

    .finecurepharma-menu .menu-item a {
        font-size: 14px;
    }

    .header-right-search .fc-es-search-input form {
        width: 250px;
    }
}

@media only screen and (max-width:1279px) {
    .finecurepharma-menu .menu-item {
        padding: 0px;
    }

    .cpx-40px {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width:1199px) {
    .header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header .logo img {
        max-height: 30px;
    }

    .page-overlay {
        padding-top: 84px;
    }

    .toggleButton {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: transparent;
        border: none;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
    }

    .toggleButton span {
        width: 100%;
        height: 3px;
        background: #1B1464;
        margin-left: auto;
    }

    .menu-open .toggleButton span {
        width: 75%;
    }

    .menu-open .toggleButton span.one {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .menu-open .toggleButton span.two {
        opacity: 0;
    }

    .menu-open .toggleButton span.three {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .menu-header-menu-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 50%);
    }

    .menu-open .menu-header-menu-container {
        right: 0;
    }

    .finecurepharma-menu {
        flex-direction: column;
        gap: 16px;
        position: fixed;
        right: -100%;
        top: 0;
        width: 350px;
        background: #ffffff;
        height: 100%;
        padding: 16px;
        padding-top: 60px;
        transition: all 0.3s;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
    }

    .menu-open .finecurepharma-menu {
        right: 0;
    }

    .header-right-search .fc-es-search-input form {
        margin-right: 60px;
    }

    .finecurepharma-menu .menu-item a {
        font-size: 18px;
    }

    .finecurepharma-menu .menu-item > a:not(.sub-menu a) {
        justify-content: space-between;
    }

    .menu-open .finecurepharma-menu .menu-item:hover>a+.sub-menu {
        position: static;
        width: 100%;
        background: #F3FAFF;
        border-radius: 8px;
        min-width: inherit;
        gap: 16px;
        box-shadow: none;
    }
}

@media only screen and (max-width:767px) {
    .finecurepharma-menu .menu-item a {
        font-size: 16px;
    }
}